html {
  font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
}
input {
  box-sizing: border-box;
  padding: .2rem .3rem;
  border: 1px solid #909090;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
}
input:focus {
  outline: none;
  border: #87C6F9 1px solid;
  box-shadow: 0 0 8px #67a6d9;
}
#warp {
  background-color: #fff;
}
.main {
  text-align: center;
  width: 60rem;
  color: #757575;
  position: absolute;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.main article header h1 {
  font-size: 3rem;
  font-weight: 400;
}
.input-group {
  width: 100%;
  margin-bottom: 0;
}
.input-group input {
  height: 2.3rem;
  border-radius: 5px 0 0 5px;
  width: 18rem;
}
.input-group button {
  height: 2.3rem;
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
}
.btn {
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #adadad;
}
.btn:hover {
  color: #333;
  background-color: #e6e6e6;
}
.pre-rst {
  margin: 2em auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fafafa;
  width: 35em;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.footer {
  position: absolute;
  right: 5em;
  bottom: 1em;
  opacity: .5;
  font-size: 1em;
}
.mask {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  background: #000\9;
  filter: alpha(opacity=60);
}
.mask-cnt {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.mask-cnt .mask-close {
  cursor: pointer;
}
.mask-cnt .mask-close:before {
  content: '×';
  color: #d2d3ea;
  font-weight: 700;
  font-size: 50px;
  position: relative;
  top: -205px;
  left: -22px;
}
.lt-ie9 .warp {
  display: none;
}
.lt-ie9 .browsehappy {
  text-align: center;
  font-size: 40px;
}
