html {
  font-family: "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";
}
input{
  box-sizing: border-box;
  padding: .2rem .3rem;
  border:1px solid #909090;
  -webkit-transition: box-shadow 0.30s ease-in-out;   //只让box-shadow属性做过渡效果！
  -moz-transition:  box-shadow 0.30s ease-in-out;      //firefox
  &:focus {
    outline:none;
    border:#87C6F9 1px solid;
    box-shadow: 0 0 8px rgba(103, 166, 217, 1);
  }
}
#warp {
  background-color: #fff;
}
.main {
  z-index: 2;
  text-align: center;
  width: 40rem;
  color: #757575;
  position: absolute;
  top: 20%; left: 0; bottom: 0; right: 0;
  margin: auto;
}
.main article header h1 {
  font-size: 3rem;
  font-weight: 400;
}
.input-group {
  width: 100%;
  margin-bottom: 0;
}
.input-group input {
  height: 2.3rem;
  border-radius: 5px 0 0 5px;
  width: 18rem;
}
.input-group button {
  height: 2.3rem;
  margin-left: -5px;
  border-radius: 0 5px 5px 0;
}
.btn {
  color: #333;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #adadad;
  &:hover {
    color: #333;
    background-color: #e6e6e6;
  }
}
.pre-rst {
  margin: 2em auto;
  padding: 15px;
  box-sizing: border-box;
  background-color: #fafafa;
  width: 25em;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.footer {
  position: absolute;
  right: 5em;
  bottom: 1em;
  opacity: .5;
  font-size: 1em;
}

.mask {
  display:table;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.6);
  background:#000\9;
  filter: alpha(opacity=60);
  z-index: 999;
}
.mask-cnt {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}
.mask-cnt .mask-img {

}
.mask-cnt .mask-close {
  cursor: pointer;
  &:before {
    content: '×';
    color: rgb(210, 211, 234);
    font-weight: 700;
    font-size: 50px;
    position: relative;
    top: -205px;
    left: -22px;

  }
}
.lt-ie9 .warp{
  display: none;
}
.lt-ie9 .browsehappy {
  text-align: center;
  font-size: 40px;
}

.hh {
  z-index: 1;
  margin-top: 200px;
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -webkit-perspective: 400;
  -moz-perspective: 400;
}

.div1 {
  margin: 100px auto 0;
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 2s linear;
  -moz-transition: -moz-transform 2s linear;
  -webkit-transform: rotateX(0) rotateY(0);
  -moz-transform: rotateX(0) rotateY(0);
  position: relative;
  -webkit-animation: animations 5s linear infinite;
  -moz-animation: animations 5s linear infinite;
}

.div1:hover {
  -webkit-transform: rotateX(90deg) rotateY(90deg);
  -moz-transform: rotateX(90deg) rotateY(90deg);
}

.div1 div {
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px #ccc solid;
  position: absolute;
  line-height: 200px;
  text-align: center;
  color: #eee;
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: bold;
}

.div2 {
  -moz-transform: rotateY(0) translateZ(100px);
  -webkit-transform: rotateY(0) translateZ(100px);
}

.div3 {
  -moz-transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
}

.div4 {
  -moz-transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}

.div5 {
  -moz-transform: rotateY(180deg) translateZ(100px);
  -webkit-transform: rotateY(180deg) translateZ(100px);
}

.div6 {
  -moz-transform: rotateX(-90deg) translateZ(100px);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}

.div7 {
  -moz-transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
}

@-webkit-keyframes animations {
  0% {
    -webkit-transform: rotateX(0) rotateY(0);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(90deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-moz-keyframes animations {
  0% {
    -moz-transform: rotateX(0) rotateY(0);
  }
  25% {
    -moz-transform: rotateX(90deg) rotateY(90deg);
  }
  50% {
    -moz-transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    -moz-transform: rotateX(270deg) rotateY(270deg);
  }
  100% {
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

.circle {
  display: block;
  border: 1px solid white;
  height: 200px;
  width: 200px;
  margin-top: 100px;

  animation: animations-circle 4s infinite linear alternate;
  & img {
    transition:all 1s;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    &:hover {
      transform:scale(1.2);
      -webkit-transform:scale(1.2);
      -moz-transform:scale(1.2);
      -o-transform:scale(1.2);
      -ms-transform:scale(1.2);
    }
  }

}

@-webkit-keyframes animations-circle {
  0% {
    transform: rotate(0);
    margin-left: 0%;
  }
  100% {
    transform: rotate(360deg);
    margin-left: 100%;
  }
}
@keyframes animationsCircle {
  0% {
    transform: rotate(0);
    margin-left: 0%;
  }
  100% {
    transform: rotate(360deg);
    margin-left: 100%;
  }
}