<div class="warp">
    <section class="main" id="main">
        <article>
            <header>
                <h1>每日一答 ▪ 查询</h1>
            </header>
            <div>
                <div class="input-group">
                    <input type="text" placeholder="福利请点下面内只狮子(好吧，是狗).." id="iptQuery">
                    <button class="btn" type="button" id="btnSearch">Go!</button>
                </div>
            </div>
            <pre class="pre-rst" style="display: none"></pre>
        </article>
        <figure class="circle">
          <a href="/question/export">
            <img src="img/wow-3.gif" height="200">
          </a>
        </figure>
    </section>
    <section class="footer">
        <p>
            &copy; baili / travelsky
        </p>
    </section>
    <section class="mask" style="display: none">
        <div class="mask-cnt">
            <img src="/img/demo.gif" class="mask-img">
            <span class="mask-close"></span>
        </div>
    </section>
    <div class="hh">
        <div class="div1">
            <div class="div2">每</div>
            <div class="div3">日</div>
            <div class="div4">一</div>
            <div class="div5">答</div>
            <div class="div6">参</div>
            <div class="div7">考</div>
        </div>
    </div>
</div>