<html ng-app="myApp">
    <head>
        <title>Hello form</title>
        <style type="text/css">
            input.ng-invalid {
                border: 1px solid red;
            }
            input.ng-valid {
                border: 1px solid green;
            }
        </style>
    </head>
    <body>
        <h1>表单验证</h1>
        <ol>
            <li>表单上添加novalidate，取消浏览器默认验证</li>
            <li>检测未修改的表单，未修改为true：formName.inputFieldName.$pristine</li>
            <li>检测合法的表单：formName.inputFieldName.$valid</li>
            <li>检测不合法的表单：formName.inputFieldName.$invalid</li>
            <li>错误：formName.inputfieldName.$error</li>
        </ol>
        <div ng-controller="MyController">
            <form name="form" novalidate>
                <label for="email">邮箱(type=email)：
                    <input type="email" name="email"
                       ng-model="email" placeholer="请输入邮箱.." require>
                </label>
                <br><br>
                <label for="userName">姓名(最大长度)：
                    <input type="text" name="userName" ng-model="userName" ng-maxlength="5"/>
                </label>
                <br><br>
                <label for="nick">昵称(只能输入大小写字母)：
                    <input type="text" name="nick" ng-model="nick" ng-pattern="/^[a-zA-Z]+$/"/>
                </label>
                <br><br>
                <label for="age">年龄(只能输入数字)：
                    <input type="number" name="age" ng-model="age"/>
                </label>
                <br><br>
                <label for="home">主页(只能输入URL)：
                    <input type="url" name="home" ng-model="home"/>
                </label>
                <br><br>
                <label for="diyDirec">指令(验证1-10)：
                    <input type="text" name="diyDirec" oneToTen ng-model="diyDirec"/>
                </label>
                <input type="submit" value="提交" ng-disabled="form.$invalid">
            </form>
        </div>
        <!--<script src="js/angular-1.0.1.min.js"></script>-->
        <script src="http://apps.bdimg.com/libs/angular.js/1.3.13/angular.min.js"></script>
        <script>
            var myAppModule = angular.module("myApp", []);
            // 添加指令
            myAppModule.directive('oneToTen', function () {
                return {
                    require: '?ngModel',
                    link: function (scope, ele, attrs, ngModel) {
                        if (!ngModel) return;
                        ngModel.$parsers.unshift(
                            function (viewValue) {
                                console.log(viewValue);
                                if ( i >= 0 || i < 10) {
                                    ngModel.$setValidity('oneToTen', true);
                                    return viewValue;
                                } else {
                                    ngModel.$setValidity('oneToTen', false);
                                    return undefined;
                                }
                            }
                        );
                    }
                }
            });

            myAppModule.controller('MyController', ['$scope', function($scope){

            }]);

        </script>
    </body>
</html>